<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Every Dental Clinic: Login</title>
</head>
<body>

<h1>Please login to your account</h1>
<form method="post">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit">
</form>
<h3><a href="/signup">Sign up</a> if you do not have an account</h3>

</body>
</html>