<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Every Dental Clinic: Create Account</title>
</head>
<body>

<h1>Create New Account</h1>
<h3>Enter the following to create a new account</h3>
<form method="post" autocomplete="off">
    <label for ="username">Username:</label>
    <input type="text" name="username" placeholder="Username" autocomplete="off"><br>
    <label for ="password">Password:</label>
    <input type="text" name="password" placeholder="Password" autocomplete="off"><br>
    <label for ="firstname">First Name:</label>
    <input type="text" name="firstname" placeholder="First Name" autocomplete="off"><br>
    <label for ="lastname">Last Name:</label>
    <input type="text" name="lastname" placeholder="Last Name" autocomplete="off"><br>
    <input type="submit">
</form>

</body>
</html>